<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', { css:'productDelete_style', js:'main' } ) %> 
<body>
    <div class="container">
        
        <!-- header -->
        <%- include('../partials/header') %> 
        <!-- /header --> 
        
        <!-- producto -->
        <section class="section__productDelete">

            <article class="article__productDelete"> 
                <h2>El producto que va a eliminar es: <%= productToDelete.name %> </h2>
                <form action="/products/delete/<%= productToDelete.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
                    <div class="div__productDelete">
                        <label class="form__label">Nombre del producto:</label>
                        <label class="form__label"><%= productToDelete.name %></label>						
					</div>
					<div class="div__productDelete">
                        <label class="form__label">Precio del producto:</label>
                        <label class="form__label"><%= productToDelete.price %></label>						
					</div>
					<div class="div__productDelete">
                        <label class="form__label">Descuento:</label>
                        <label class="form__label"><%= productToDelete.discount %></label>
					</div> 
					<div class="div__productDelete">
                        <label class="form__label">Descripción:</label>
                        <label class="form__label"><%= productToDelete.description %></label>
                    </div>
                    
                    <div class="div__button">
                        <button type="submit" class="button__delete">Eliminar producto</button>
                    </div>
                </form>
            </article>
        </section>

        <!-- footer -->
        <%- include('../partials/footer') %> 
        <!-- /footer -->
    </div>
</body>
</html>