<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', { css:'productCart_style', js:'main' } ) %> 
<body>
    <div class="container">
        
        <!-- header -->
        <%- include('../partials/header') %> 
        <!-- /header --> 
            
        <!-- busqueda -->
		<!-- <section class="section__search">
            <input class="input__search" type="text" name="search" placeholder="Busca eso que queres hoy...">
            <button class="button__search" type="submit" name="button-search">Buscar</button>
        </section> -->
        
        <!-- producto -->
        <section class="section__product">
            <% if(cartProducto.length != 0){ %>           
            
                <% cartProducto.forEach(item => { %>
                    <article class="article__product"> 
                        <img class="img__product" src="/images/<%= item.product.image %>" alt="<%= item.product.name %>">
                        
                        <article class="article__product__description">
                            <a href="/products/<%= item.product.id %>" class="a__detailProduct"><%= item.product.name %></a>
                            <span class="price__currency">$<%= item.salePrice %></span>

                            <select class="select__cantidad">
                                <option><%= item.quantity %></option>
                            </select>
                            <form action="/products/deleteItemCart" method="POST">
                                <input type="hidden" name="itemId" value="<%=  item.productId %>">
                                <button class="button__delete" type="submit" name="button-delete">Eliminar</button>
                            </form>            
                        </article>
                    </article>
                <% }) %>
            </section>

            <!-- total carrito -->
            <section class="section__summary">
                <article class="article__summary"> 
                    <span class="price__">Total</span>
                    <span class="price__">$<%= total %></span>
                </article>
            </section>

            <section class="section__button__buy">
                <button class="button__buy" type="submit" name="button-buy">Finalizar compra</button>
            </section>
        <% } else { %>
            <div>
                <h2 style="text-align: center; padding: 100px 0; color: tomato;">No exiten productos en tu carrito</h2>
            </div>
        <% } %>
         <!-- sugerencias -->
         <section class="section__suggestions">
            <article class="article__suggestions__title">
                <h2>Las mejores sugerencias</h2>
            </article>         
            <article class="article__suggestion">
                 <a href="#"><img class="img__suggestions" src="/images/sugerencia_bebida.png" alt="sugerencia_bebida"> </a>
            </article>
            <article class="article__suggestion">
                <a href="#"><img class="img__suggestions" src="/images/sugerencia_minuta.png" alt="sugerencia_minuta"> </a>
            </article>
            <article class="article__suggestion">
                <a href="#"><img class="img__suggestions" src="/images/sugerencia_postre.png" alt="sugerencia_postre"> </a>
            </article>
            <article class="article__suggestion">
                <a href="#"><img class="img__suggestions" src="/images/sugerencia_veggie.png" alt="sugerencia_veggie"> </a>
            </article>
        </section>

        <!-- footer -->
        <%- include('../partials/footer') %> 
        <!-- /footer -->
    </div>
</body>
</html>